.item_styles {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.item_styles img {
  display: block;
  border: 2px solid #4e53a5;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item_styles .animals {
  position: absolute;
  transform: rotateY(90deg);
  transition: all 0.2s linear;
}

.flipped .animals {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
  border: 2px solid #e2008a;
}

.item_styles .cover {
  transition: all 0.2s linear;
  transition-delay: 0.2s;
}

.flipped .cover {
  transform: rotateY(90deg);
  transition-delay: 0s;
}
